*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.display__controller{
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    flex-direction: row;
    flex-flow: wrap;
}

.previewCard{
    width: 40vmin;
    height: 50vmin;
    // background-color: green;
    margin: 4em 0 0 0;
    box-shadow: 0 70px 63px -60px #000000;
    border-radius: 2vmin;
    // background-position: center center;
    // background-size: cover;
    // background-repeat: no-repeat;
    cursor: pointer;

    &__image{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }

}

 .main{
        position: relative;
        display: flex;
        flex-flow: row wrap;
        // align-content: '';
        justify-content: center;
        // align-items: space-evenly;
        // place-items: ;
        min-height: 100%;
        margin: 0 0 auto 40vmin;
        padding: 1vmin 5vmin 1vmin 5vmin;
        z-index: 1;
        
    }



     .main::before{
        content: "";
        top: 0px;
        bottom: 0px;
        left: 40vmin;
        right: 0px;
        min-height: 100%;
        position: fixed;
        background-image: url("/pics/clients_work/concept_art/dead_us_i.webp");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        /* Resolve Opacity Issues*/ 
        opacity: 0.1;
        z-index: 1;
    }

    .card{
        position: relative;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        height: 18em;
        width: 14em;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 0 0 0 0;
        // background-image: var(--bg-image);
        // background-repeat: no-repeat;
        // background-position: center center;
        // background-size: cover;
        z-index: 2;
        border-radius: 0.5em;
        transition: box-shadow 0.2s, border-radius 0.2;    
        box-shadow: 1.5px 1.5px 2px 0px darken($color: $chill, $amount: 10);
        margin: 2.5em 0 0 7vmin;
        transition: border-radius 0.2s, background-position 1s, background-size 1s, box-shadow 0.2s;
        font-style: normal;
        overflow: hidden;

        &__text{
            font-family: "Fahkwang";
            color: rgb(255, 255, 255, 1);
            z-index: 2;
            text-align: center;
            font-style: inherit;
        }

        &:hover{
            border-radius: 0.5em;
            border: 1px solid darken($color: $chill, $amount: 60);
            box-shadow: none;
            font-style: italic;
        }

        &__border{
            position: relative;
            text-align: center;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            top: 0em;
            left: 0em;
            bottom: 0;
            right: 0;
            height: calc(18em - 0.8em);
            width: calc(14em - 0.8em);
            border: none;
            border-radius: 0.5em;
            padding: 0 0 2.5em 0;
            background-color: none;
            transition: border 1.5s;


            &:hover{
                border: 1px solid white;
                background-color: rgba(0, 0, 0, 0.699);
            }
        }

        &__image{
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
            object-position: center center;
            transition: transform 0.6s, object-position 0.6s;
        }
    }